{{> head }}

    {{> navbar }}  

   <div class="row">
       <div class="col-8">
        <h1>Zona de la izquierda</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat architecto tenetur nam vel eaque sed eligendi vero, iste soluta distinctio, sit blanditiis exercitationem expedita quibusdam temporibus esse totam praesentium fuga.</p>
       </div>
       <div class="col-4">
           <img src="assets/img/pajaro.png" class="img-thumbnail">
       </div>
   </div>

{{> footer }}